<mat-form-field appearance="outline" class="w-full">
  <mat-label>{{ label }}</mat-label>
  <mat-select [formControl]="control">
    @for (option of options; track option.value) {
      <mat-option [value]="option.value">{{ option.name }}</mat-option>
    }
  </mat-select>

  @if (control?.invalid && (control?.touched || control?.dirty)) {
    <mat-error>
      @for (error of control.errors | keyvalue; track error.key) {
        @if (errors[error.key]) {
          <span>{{ errors[error.key] }}</span>
        }
      }
    </mat-error>
  }
</mat-form-field>
