<nav class="navigation-list" [class.collapsed]="collapsed">
  @for (item of navigationService.menuItems(); track item.route) {
    @if (item.children && item.children.length > 0) {
      @if (!collapsed) {
        <div class="nav-group mx-3 mb-2">
          <button (click)="toggleSubmenu(item.route)" class="w-full text-left relative">
            <app-menu-item [label]="item.label" [icon]="item.icon"></app-menu-item>
            <div class="absolute right-4 top-0 bottom-0 flex items-center transition-transform duration-300" [class.rotate-180]="navigationService.isMenuExpanded(item.route)">
              <app-icon [iconName]="navigationService.isMenuExpanded(item.route) ? 'expand_less' : 'expand_more'" size="md" color="subtle"></app-icon>
            </div>
          </button>
          @if (navigationService.isMenuExpanded(item.route)) {
            <div class="submenu mt-1 mb-2">
              @for (child of item.children; track child.route) {
                <app-menu-item
                  [route]="child.route"
                  [label]="child.label"
                  [icon]="child.icon"
                  variant="child"
                ></app-menu-item>
              }
            </div>
          }
        </div>
      } @else {
        <app-flyout>
          <div flyout-trigger>
            <app-menu-item [icon]="item.icon" variant="icon-only"></app-menu-item>
          </div>
          <ng-template flyout-content>
            <app-floating-panel [title]="item.label">
              @for (child of item.children; track child.route) {
                <app-menu-item
                  [route]="child.route"
                  [label]="child.label"
                  [icon]="child.icon"
                  variant="floating"
                ></app-menu-item>
              }
            </app-floating-panel>
          </ng-template>
        </app-flyout>
      }
    } @else {
      <app-menu-item
        [route]="item.route"
        [label]="item.label"
        [icon]="item.icon"
        [variant]="collapsed ? 'icon-only' : 'default'"
        [matTooltip]="collapsed ? item.label : null"
        matTooltipPosition="right"
      ></app-menu-item>
    }
  }
</nav>
