/*
 * Hacemos que el componente ocupe todo el ancho disponible.
 * El padding y el layout principal vienen del layout superior (showcase.component).
*/
:host {
  display: block;
  width: 100%;
}

/*
 * Tailwind puede tener conflictos con los estilos por defecto de los form-fields de Material.
 * Esta regla asegura que el form-field se comporte correctamente dentro de un contenedor flex o grid.
*/
mat-form-field {
  width: 100%;
}

/*
 * mat-error por defecto no es un bloque, lo que puede causar saltos de layout.
 * Con esta regla nos aseguramos que ocupe su propio espacio y se alinee con el
 * estilo de los mensajes de error de los mat-form-field.
*/
mat-error {
  display: block;
}
