<mat-form-field appearance="outline" class="w-full">
  <mat-label>{{ label }}</mat-label>
  <input [formControl]="control" [matDatepicker]="picker" matInput/>
  <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

  @if (control?.invalid && (control?.touched || control?.dirty)) {
    <mat-error>
      @for (error of control.errors | keyvalue; track error.key) {
        @if (errors[error.key]) {
          <span>{{ errors[error.key] }}</span>
        }
      }
    </mat-error>
  }
</mat-form-field>
