<aside
  [class.w-20]="uiStateService.sidenavIsCollapsed()"
  [class.w-64]="!uiStateService.sidenavIsCollapsed()"
  class="relative z-30 flex h-full flex-col shadow-lg transition-all duration-300"
  style="background-color: hsl(var(--sidebar-background))"
>
  <div
    class="flex h-16 flex-shrink-0 items-center justify-between border-b px-4"
    style="border-color: hsl(var(--sidebar-border))"
  >
    @if (!uiStateService.sidenavIsCollapsed()) {
      <span
        class="text-xl font-bold"
        style="color: hsl(var(--sidebar-foreground))"
        i18n="Admin panel title in sidebar@@layout.sidebar.title"
        >Admin Panel</span
      >
    }
    <button
      (click)="uiStateService.toggleSidenavVisibility()"
      mat-icon-button
      style="color: hsl(var(--sidebar-foreground))"
    >
      <mat-icon>visibility_off</mat-icon>
    </button>
  </div>
  <div class="flex-1 overflow-x-hidden overflow-y-auto custom-scrollbar">
    <app-sidenav-menu></app-sidenav-menu>
  </div>
</aside>
